manifest {
    name            = 'angelovangel/nxf-alignment'
    author          = 'aangeloo@gmail.com'
    homePage        = 'https://github.com/angelovangel/nxf-alignment'
    defaultBranch   = 'main'
    description     = 'A Nextflow workflow for basecalling, aligning, and analyzing long-read sequencing data (ONT)'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04'
    version         = 'v0.3.9'
}


params {

    outdir = 'output'
    model = 'fast'
    help = ""
    
    pod5 = null
    herro = null
    bed = null
    reads = null // Parameter for reads when basecalling is skipped
    ref = null // when alignment is skipped
    asfile = null
    
    snp = false
    snp_caller = "clair3" 
    deepvariant_model = "ONT_R104" //WGS,WES,PACBIO,ONT_R104,HYBRID_PACBIO_ILLUMINA
    clair3_platform = "ont" // ont, hifi, ilmn
    clair3_model = "r1041_e82_400bps_hac_v500"
    // r1041_e82_400bps_hac_v410, r1041_e82_400bps_hac_v500, r1041_e82_400bps_sup_v410, r1041_e82_400bps_sup_v500, r1041_e82_400bps_sup_v430_bacteria_finetuned
    // hifi_revio, hifi_sequel2, ilmn
    sv = false
    phase = false
    annotate = false
    anno_db = "hg38"
    anno_filterQ = 20 // filter out variants with quality lower than this before annotation

    // barcoded case
    kit = null
    samplesheet = null //csv with columns sample,barcode
}

profiles {
    standard {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process {
            withName: 'DORADO_BASECALL|DORADO_BASECALL_BARCODING|DORADO_ALIGN|DORADO_CORRECT|VCF_CLAIR3' {
                cpus = 64
                containerOptions = '-u $(id -u):$(id -g) --gpus all'
            }
            withName: 'VCF_DEEPVARIANT' {
                cpus = 64
                container = 'docker.io/google/deepvariant:1.10.0-beta-gpu'
                containerOptions = '-u $(id -u):$(id -g) --gpus 1'
            }
        }
    }
    
    test {
        params.pod5 = "${projectDir}/demo/pod5"
        params.asfile = "${projectDir}/demo/as_decisions.csv"
        params.model = "fast"
        params.ref = "${projectDir}/demo/ref.fasta"
        params.bed = "${projectDir}/demo/regions.bed"
        params.snp = true
        params.sv = true
    }

    apple {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        // for testing on Apple Silicon, use local dorado because docker --gpus is not supported
        process {
            withName: 'DORADO_BASECALL|DORADO_BASECALL_BARCODING|DORADO_ALIGN|DORADO_CORRECT' {
                cpus = 8
                container = null
            }
            withName: 'VCF_DEEPVARIANT' {
               cpus = 8
               container = 'docker.io/google/deepvariant:1.10.0-beta'
            }
            withName: 'VCF_CLAIR3' {
                cpus = 8
                container = 'docker.io/hkubal/clair3:v1.2.0'
            }
        }
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "$HOME/singularity-cache"
        process {
            withName: 'DORADO_BASECALL|DORADO_BASECALL_BARCODING|DORADO_ALIGN|DORADO_CORRECT|VCF_CLAIR3' {
                cpus = 64
                containerOptions = '--nv'
            }
        }
    }

    revio {
        params.clair3_platform = "hifi"
        params.clair3_model = "hifi_revio"
        params.deepvariant_model = "PACBIO"
    }
}
